/************ Root ************/
:root {
    --primary: #19c8fa;
    --secondry: rgb(15 116 143 / 50%)
}

/************ Font ************/
@font-face {
    font-family: 'OpenSans';
    src: url("../font/OpenSans-Regular.ttf");
}

/************ Global ************/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OpenSans';
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/************ Container ************/
.container {
    padding: 0 15px;
    margin: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/************ Section ************/
section {
    padding: 100px 0;
}

section>h2 {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
    padding: 0 15px;
}

section>h2::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 2px;
    background-color: #333;
    padding: 0 15px;
}

section>h2::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    border: 2px solid #333;
}

section>h2::after {
    content: '';

}

section>p {
    text-align: center;
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    color: #777;
    line-height: 2;
}

/************ Navbar ************/
.navbar {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
}

.navbar .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 97px;
}

.navbar .container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: #a2a2a2;
    width: calc(100% - 30px);
    height: 1px;
    z-index: 9;
}

.navbar a img {
    height: 40px;
}

.navbar .container div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbar .collapse-navbar {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    .navbar .collapse-navbar {
        display: block;
    }
}

.navbar ul {
    display: flex;
    gap: 20px;
}

@media (max-width: 991px) {
    .navbar ul {
        display: none;
    }
}

.navbar .collapse-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 80%);
}

.navbar .container div ul li a {
    display: block;
    color: white;
    font-size: 14px;
    transition: .3s;
    padding: 40px 10px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid transparent;
}

@media (max-width: 991px) {
    .navbar ul li a {
        padding: 15px !important;
    }
}

.navbar .container div ul li a.active,
.navbar .container div ul li a:hover {
    color: var(--primary);
    border-color: var(--primary);
}

.navbar form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

.navbar form i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
}

/************ Landing ************/
.landing {
    background-color: #1f2021;
    background-image: url('../img/landing.jpg');
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.landing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

.landing article {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 50px;
    background-color: var(--secondry);
    color: white;
    text-align: center;
}

@media (max-width: 608px) {
    .landing article {
        padding: 10px 50px;
    }
}

.landing article h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

@media (max-width: 488px) {
    .landing article {
        padding: 10px;
    }

    .landing article h2 {
        margin-bottom: 5px;
        font-size: 20px;
    }
}

.landing article p {
    font-size: 14px;
    line-height: 2;
}

/************ Services ************/
@media (min-width: 767px) {
    .services .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        gap: 60px 40px;
    }
}

.services .service {
    display: flex;
}

@media (max-width: 767px) {
    .services .service {
        flex-direction: column;
    }

    .services .service:not(:last-of-type) {
        margin-bottom: 40px;
    }
}

.services .service i {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .services .service i {
        margin: 0 auto 30px;
    }
}

@media (max-width: 767px) {
    .services .service div {
        text-align: center;
    }
}

.services .service h3 {
    color: var(--primary);
    margin-bottom: 30px;
}

.services .service p {
    line-height: 2;
    color: #777;
}

/************ Our Design ************/
.our-design {
    height: 600px;
    position: relative;
    background-image: url('../img/design-features.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

@media (max-width: 991px) {
    .our-design {
        flex-direction: column;
        height: auto;
    }
}

.our-design::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    width: 100%;
    height: 100%;
}

.our-design div {
    position: relative;
    z-index: 2;
    flex: 1;
}

.our-design .image {
    text-align: center;
}

@media (max-width: 991px) {
    .our-design .image {
        padding: 0 15px;
    }
}

.our-design .image img {
    position: relative;
    bottom: -150px;
}

@media (max-width: 991px) {
    .our-design .image img {
        bottom: 0;
        width: 100%;
    }
}

.our-design .info {
    color: white;
    padding: 50px;
    background-color: var(--secondry);
}

@media (max-width: 991px) {
    .our-design .info {
        margin-top: 40px;
        width: 100%;
        padding: 40px 20px;
    }
}

.our-design .info h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.our-design .info ul li {
    padding: 15px 0;
    position: relative;
}

.our-design .info ul li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f108';
    font-weight: 900;
    margin-right: 20px;
    position: relative;
    top: 1px;
}

/************ Portfolio ************/
.portfolio ul {
    display: flex;
    justify-content: center;
}

@media (max-width: 512px) {
    .portfolio ul {
        flex-direction: column;
        text-align: center;
    }
}

.portfolio ul li {
    padding: 10px;
}

.portfolio ul li.active {
    color: white;
    background-color: var(--primary);
}

.portfolio .row {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.portfolio .port {
    position: relative;
    overflow: hidden;
}

@media (min-width: 768px) {
    .portfolio .port {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .portfolio .port {
        flex-basis: 25%;
    }
}

.portfolio .port img {
    width: 100%;
    transition: .3s;
}

.portfolio .port:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .port div {
    position: absolute;
    bottom: -100%;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: .3s;
}

.portfolio .port:hover div {
    bottom: 0;
}

.portfolio .port div h4 {
    font-weight: normal;
    margin-bottom: 10px;
}

.portfolio .port div p {
    color: var(--primary);
}

.portfolio a {
    background-color: var(--primary);
    color: white;
    display: block;
    width: fit-content;
    margin: 30px auto;
    padding: 15px 20px;
    text-transform: uppercase;
}

/************ Video ************/
.video {
    position: relative;
    padding: 0;
}

.video::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0 0 0 / 40%);
    width: 100%;
    height: 100%;
}

.video video {
    width: 100%;
    /* aspect-ratio: ; */
}

.video>div {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--secondry);
    color: white;
    text-align: center;
}

.video>div h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video>div p {
    margin-bottom: 30px;
}

.video>div a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    display: block;
    width: fit-content;
    margin: auto;
}

/************ About Us ************/
.about-us {
    padding-bottom: 0;
    overflow: hidden;
    text-align: center;
}

.about-us img {
    position: relative;
    margin-top: -120px;
    bottom: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about-us img {
        bottom: -60px;
        margin-top: -60px;
    }
}

/************ Statistics ************/
.statistics {
    background-image: url('../img/stats.png');
    background-size: cover;
    text-align: center;
    position: relative;
}

.statistics::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}

.statistics .row {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

.statistics .state {
    padding: 50px;
    background-color: var(--secondry);
    color: white;
}

@media (max-width: 767px) {
    .statistics .state {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .statistics .state {
        flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .statistics .state {
        flex-basis: 25%;
    }
}

.statistics .state i {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    margin: 0 auto 30px;
}

.statistics .state span {
    display: block;
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.statistics .state p {
    font-size: 14px;
    margin: 0;
}

/************ Our Skills ************/
@media (min-width: 992px) {
    .our-skills .row {
        display: flex;
        justify-content: space-between;
    }
}

.testimonials {
    position: relative;
}

.our-skills .testimonials,
.our-skills .skills {
    flex-basis: 45%;
}

.our-skills .testimonials>h3,
.our-skills .skills>h3 {
    text-align: center;
    margin: 0 0 30px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .testimonials>p,
.our-skills .skills>p {
    text-align: center;
    color: #777;
    line-height: 2;
    margin-bottom: 60px;
}

.our-skills .testimonials .testimonial {
    display: flex;
    margin-bottom: 30px;
}

.our-skills .testimonials .testimonial img {
    margin-right: 50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (max-width: 767px) {
    .our-skills .testimonials .testimonial {
        flex-direction: column;
        text-align: center;
    }

    .our-skills .testimonials .testimonial img {
        margin: 0 auto 20px;
    }
}

.our-skills .testimonials .testimonial div {
    border-bottom: 1px solid #ccc;
}

.our-skills .testimonials .testimonial div p {
    line-height: 1.8;
}

.our-skills .testimonials .testimonial div span {
    color: #777;
    text-align: right;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.our-skills .testimonials .bullets {
    bottom: -50px;
}

.our-skills .testimonials .bullets li {
    border: 1px solid #aaa;
}

.our-skills .testimonials .bullets li:hover,
.our-skills .testimonials .bullets li.active {
    border-color: var(--primary);
}

@media (max-width: 991px) {
    .our-skills .skills {
        margin-top: 100px;
    }
}

.our-skills .skills .skill {
    margin-bottom: 40px;
}

.our-skills .skills .skill h4 {
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.our-skills .skills .skill .progress {
    background-color: #dedadc;
    width: 100%;
    height: 30px;
}

.our-skills .skills .skill .progress span {
    display: block;
    background-color: var(--primary);
    height: 100%;
    position: relative;
}

.our-skills .skills .skill .progress span::before {
    content: attr(data-progress);
    position: absolute;
    top: -40px;
    right: -18px;
    padding: 4px 0;
    background-color: black;
    color: white;
    width: 40px;
    text-align: center;
    border-radius: 4px;
}

.our-skills .skills .skill .progress span::after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -15px;
}

/************ Quote ************/
.quote {
    background-image: url('../img/quote.jpg');
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
}

.quote::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}

.quote .container {
    position: relative;
}

.quote q {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
}

/************ Pricing ************/
.pricing .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 30px;
}

.pricing .plan {
    background-color: #fcfcfc;
    text-align: center;
}

.pricing .plan header {
    padding: 40px 20px;
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.pricing .plan header h3 {
    font-weight: normal;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.pricing .plan header span {
    font-size: 60px;
    font-weight: bold;
}

.pricing .plan header span::before {
    content: '$';
    font-size: 25px;
    font-weight: normal;
    position: relative;
    top: -40px;
    margin-right: 15px;
}

.pricing .plan header span::after {
    content: '/Mo';
    font-size: 20px;
    position: relative;
    right: -15px;
}

.pricing .plan ul {
    border-bottom: 1px solid var(--primary);
}

.pricing .plan ul li {
    padding: 20px;
    position: relative;
}

.pricing .plan ul li:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--primary);
    width: 140px;
    height: 1px;
}

.pricing .plan footer a {
    display: block;
    padding: 20px;
    border: 1px solid var(--primary);
    width: fit-content;
    margin: 30px auto;
}

.pricing .container>p {
    text-align: center;
    margin: 50px auto 20px;
    font-size: 20px;
}

.pricing .container>a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: var(--primary);
    color: white;
    padding: 15px 30px;
}

/************ Subscribe ************/
.subscribe {
    background-image: url('../img/subscribe.jpg');
    background-size: cover;
    position: relative;
    color: white;
}

.subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0 0 0 / 50%);
    width: 100%;
    height: 100%;
}

.subscribe .row {
    position: relative;
    display: flex;
    align-items: center;
}

@media (max-width: 991px) {
    .subscribe .row {
        flex-direction: column;
    }
}

.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}

.subscribe form i {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
}

.subscribe form input {
    border: 1px solid white;
    border-right: none;
    background: none;
    padding: 20px 20px 20px 60px;
    caret-color: var(--primary);
    width: calc(100% - 130px);
    color: white;
}

.subscribe form input:focus,
.subscribe form button:focus {
    outline: none;
}

.subscribe form input::placeholder {
    color: white;
}

.subscribe form button {
    width: 130px;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}

.subscribe p {
    line-height: 2;
    margin-left: 50px;
}

@media (max-width: 991px) {
    .subscribe p {
        margin: 30px auto 0;
        text-align: center;
    }
}

/************ Contact Us ************/
.contact-us .row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .contact-us .row {
        flex-direction: column;
    }
}

.contact-us form {
    flex-basis: 70%;
}

.contact-us form input,
.contact-us form textarea {
    padding: 20px;
    display: block;
    border: 1px solid #ccc;
    margin-bottom: 30px;
    width: 100%;
}

.contact-us form textarea {
    resize: none;
    height: 200px;
}

.contact-us form button {
    background-color: var(--primary);
    color: white;
    padding: 20px;
    border: none;
    display: flex;
    margin-left: auto;
    text-transform: uppercase;
    cursor: pointer;
}

.contact-us form *:focus {
    outline: none;
}

.contact-us .info {
    flex-basis: 25%;
}

@media (max-width: 767px) {
    .contact-us .info {
        order: -1;
        text-align: center;
        margin-bottom: 50px;
    }
}

.contact-us .info h4 {
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 18px;
}

.contact-us .phone span {
    display: block;
    color: #777;
    margin-bottom: 10px;
}

address {
    margin-top: 90px;
}

address span {
    display: block;
    color: #777;
    line-height: 2;
}

/************ Footer ************/
footer.footer {
    background-image: url('../img/subscribe.jpg');
    background-size: cover;
    padding: 50px 0;
    position: relative;
    text-align: center;
    color: white;
}

footer.footer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(0 0 0 / 70%);
    width: 100%;
    height: 100%;
}

footer.footer .container {
    position: relative;
}

footer.footer img {
    margin-bottom: 20px;
}

footer.footer p:first-of-type {
    text-transform: uppercase;
    padding: 20px;
    border-bottom: 1px solid white;
    font-size: 22px;
    width: fit-content;
    margin: 20px auto;
}

footer.footer div i {
    padding: 10px 15px;
    color: white;
}

footer.footer p:last-of-type {
    margin-top: 60px;
}

footer.footer p:last-of-type a {
    font-weight: bold;
    color: var(--primary);
}